 body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f4f4f4;
}

header {
    background: #1e7af3;
    color: rgb(214, 207, 207);
    padding: 25px;
    text-align: center;
}

section {
    background: white;
    margin: 20px;
    padding: 20px;
    border-radius: 8px;
}

h2 {
    color: #1b73e6;
}

footer {
    text-align: center;
    padding: 20px;
    background: #222;
    color: white;
}

